body{
            background: whitesmoke;
            justify-items: center;
            align-content: center;
        }
        .container1{
            z-index: 1;
            justify-items: center;
            border-radius: 10px;
            box-shadow: 3px 3px 3px #666;
            background: white;
            width: 20vw;
            min-height: 40vh;
        }
        .container{
            z-index: 1;
            justify-items: center;
            border-radius: 10px;
            box-shadow: 3px 3px 3px #666;
            background: white;
            width: 20vw;
            min-height: 55vh;
        }
            h1{
                margin-top: 2vh;
                font-size: 38pt;
                color: #1E1952;
            }
             .formulario label, input, button{
                margin-top: 1vh;
                display: block;
            }
            .formulario label, h3{
                font-size: 24px;
            }
            .formulario input, button{
                width: 32vh;
                font-size: 18px;
                height: 4vh;
                border-radius: 10px;
            }
            .formulario button{
                background: #1E1952;
                color: white;
            }
            .formulario label{
                color: #1E1952;
            }
            .formulario h3 a{
                color: #1E1952;
            }
            table{
                outline: auto;
                outline-style: solid;
                outline-width: 0.2px;
                thead th, tbody td{
                    outline: auto;
                    outline-style: solid;
                    outline-width: 0.4px;
                }
            }
